@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,500;1,900&display=swap");

* {
  font-family: "Poppins", cursive;
}

body {
  color: rgb(255, 255, 255);
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-image: url("../css/2.jpg");
  background-position: center bottom;
  background-size: cover;
  background-repeat: no-repeat;
}

.greetings {
  font-size: 6rem;
  font-weight: 900;
  text-align: justify;
  color: #ffffff;
}
.greetings > span {
  animation: glow 3.5s ease-in-out infinite;
  color: #ff4cd2;
}

@keyframes glow {
  0%,
  100% {
    color: #ff4cd2;
    text-shadow: 0 0 12px #f4aeff, 0 0 50px #f4aeff, 0 0 100px #f4aeff;
  }

  10%,
  90% {
    color: #ffffff;
    text-shadow: none;
  }
}

.greetings > span:nth-child(2) {
  animation-delay: 0.2s;
}

.greetings > span:nth-child(3) {
  animation-delay: 0.4s;
}

.greetings > span:nth-child(4) {
  animation-delay: 0.6s;
}

.greetings > span:nth-child(5) {
  animation-delay: 0.8s;
}

.description {
  font-size: 12px;
  margin-bottom: 20px;
  margin-left: 20px;
  margin-right: 20px;
  padding: 20px;
  background: rgba(255, 255, 255, 0.1); /* Semi-transparent background */
  backdrop-filter: blur(10px); /* Blur effect */
  border-radius: 10px; /* Rounded corners */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Subtle shadow */
}

.button a {
  text-decoration: none;
  font-size: 24px;
  color: #ff4bbd;
  display: inline-block;
  padding: 10px 20px;
  background: rgba(255, 255, 255, 0.1); /* Fully transparent background */
  backdrop-filter: blur(10px); /* Blur effect */
  border-radius: 10px; /* Rounded corners */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Subtle shadow */
}

.button a:hover {
  background: rgba(255, 255, 255, 0.2); /* Slightly more opaque on hover */
  box-shadow: 0 6px 8px rgba(0, 0, 0, 0.2); /* Slightly larger shadow on hover */
}

@media screen and (max-width: 574px) {
  .greetings {
    display: block;
    font-size: 4rem;
    font-weight: 500;
    text-align: center;
  }

  .description {
    font-size: 1rem;
    padding-left: 10px;
    padding-right: 10px;
  }

  .button a {
    font-size: 1rem;
  }
}

